<%= render "shared/navbar2" %>
<%= render "shared/navbar3" %>
<h3 class="text-center mt-4 text-slate-900">Quiz Summary</h3>
<div class="h-300 pt-2 m-3 max-w-sm border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 bg-indigo-500">
  <div class=" m-2  items-center block max-w-sm p-3 rounded-lg dark:bg-gray-800 dark:border-gray-700 bg-indigo-500">
    <div class="grid grid-col-1 gap-1 justify-center">
      <h4 class ="text-center mx-auto text-white mt-2"> <%= @correct/@total.to_f > 60 ? "Well done" : "Keep practicing!"%> </h4>
      <div class="relative mx-auto h-52 w-2/3 mr-0 basis-2/5 overflow-hidden" data-controller="chart">
        <canvas
          data-te-chart="doughnut"
          data-te-dataset-data= <%= "[#{@quiz.challenges.where(corrected: true).count},#{@total - @correct}]"%>
          data-te-dataset-background-color="['rgb(67, 56, 202)', 'rgb(226, 232, 240)']">
        </canvas>
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white">
          <p class="text-3xl font-bold pb-0 mb-0"><%= @correct %>/<%= @total %></p>
        </div>
      </div>
      <div>
        <p class="mb-0 mt-2 basis-3/5 pb-0 text-lg text-white text-center"><%= "You answered #{@correct} out of #{@total} questions correctly." %></p>
      </div>
    </div>
  </div>
  <% n = 0 %>
  <% @quiz.challenges.each do |challenge| %>
    <% n+=1 %>
    <div class="block max-w-sm my-2 mx-2 px-6 pr-1 pl-0 bg-slate-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <div class="flex flex-row items-center">
        <p class="text-white bg-indigo-700 border-2 rounded-full text-2xl font-bold h-full basis-1/6 text-center items-center mr-4 ml-2 my-0"><%= n %></p>
        <div class="basis-5/6">
          <p class=""><%= challenge.user_option.content %>
            <%= challenge.corrected? ? "✅" : "❌"%></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
