<%= render "shared/navbar2" %>
<%= render "shared/navbar3" %>
<div class="bg-gradient-to-b from-stone-900 via-violet-900 to-violet-800 h-screen flex flex-col">
  <h2 class="pt-6 font-suez text-center bg-gradient-to-r from-emerald-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% bg-clip-text text-md font-extrabold text-transparent text-4xl">
    Welcome <%= current_user.name %>
  </h2>
  <div class=" bg-opacity-70 pl-2 pr-2 pt-3 pb-1 rounded-t-3xl mr-2 mt-1 ml-2 grid grid-rows-1 gap-3">
    <div class="bg-[conic-gradient(at_left,_var(--tw-gradient-stops))] from-rose-500 to-indigo-700 p-2 mb-3 rounded-2xl drop-shadow-2xl shadow-xl h-full space-y-2">
      <p class="stat-title text-white inline-block text-sm align-middle mt-1 ml-2">Top Interest</p>
      <% if current_user.quizzes.empty? %>
        <div class="stat-value py-2 text-white text-3xl font-bold font-suez ml-2">No quizzes yet</div>
      <% else %>
        <p class="stat-value py-2 text-white w-72 truncate text-3xl font-bold font-suez ml-2"><%= @most_correct_interest %></p>
        <p class="align-middle text-white text-sm ml-2"><%= ((Interest.find{ |item| item.name == @most_correct_interest }.challenges.where(corrected: true).count.to_f / Interest.find{ |item| item.name == @most_correct_interest }.challenges.count ) * 100 ).ceil%> % answered correctly</p>
      <% end %>
    </div>
    <div class="overflow-y-auto">
      <div class="rounded-t-2xl flex pt-4 justify-center w-68 ">
        <div class="grid grid-cols-3 md:grid-cols-10 gap-3 grow-0 w-full mt-3 px-2 justify-center">
          <div class="grow-0  w-24 shrink-0 rounded-lg dark:bg-gray-800 dark:border-gray-700">
            <div class="w-full h-full" >
              <div class="text-center" data-controller="menu">
                <button data-action="menu#removeHide" class="text-slate-800 h-24 w-24 bg-slate-300 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 rounded-full  text-6xl font-bold dark:bg-indigo-600 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800" type="button" data-drawer-target="drawer-bottom-example" data-drawer-show="drawer-bottom-example" data-drawer-placement="bottom" aria-controls="drawer-bottom-example">
                  <p class="text-blue-500 m-0">+</p>
                </button>
                <h5 class="grow-0 text-center mb-0 pb-0 pt-2 text-md font-bold tracking-tight  text-white">Add more</h5>
                <!-- drawer component -->
                <div data-menu-target="dropdown" id="drawer-bottom-example" class="hidden fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto transition-transform bg-white rounded-xl dark:bg-gray-800 transform-none" tabindex="-1" aria-labelledby="drawer-bottom-label">
                  <h5 id="drawer-bottom-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Add a new interest</h5>
                  <button type="button" data-drawer-hide="drawer-bottom-example" aria-controls="drawer-bottom-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close menu</span>
                  </button>
                  <p class="font-bold text-left">From broad to specific, explore add topics for a tailored experience! </p>
                  <%= simple_form_for(@interest) do |f| %>
                    <div class="flex gap-2 pt-2 pb-3 ">
                      <%= f.input :name, placeholder: "Impressionism or Monet...", class: "h-10", label: false %>
                      <%= f.submit 'Add', class: "focus:outline-none text-slate-50 h-10 bg-indigo-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-md px-4 py-2.5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" %>
                    </div>
                  <% end %>
                  <div class="mb-5 mt-0">
                    <p class="text-left italic text-sm">Challenge yourself with personalized quizzes!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% @interests.sort.reverse.each do |interest| %>
            <%= link_to interest_path(interest), class: "no-underline" do %>
              <div class="grow-0 relative bg-opacity-0 shrink-0">
                <% if interest.photo.attached? %>
                  <%= cl_image_tag interest.photo.key, class: "w-24 ring-offset-1 ring-1 h-24 mr-0 rounded-full shadow-lg" %>
                <% else %>
                  <%= image_tag "default-avatar.png", class: "w-24 ring-offset-1 ring-1 h-24 mr-0 rounded-full shadow-lg" %>
                <% end %>
                <div class="absolute bg-[conic-gradient(at_left,_var(--tw-gradient-stops))] from-rose-500 to-indigo-700 w-6 h-6 rounded-full text-white text-center m-1 p-1 top-0 right-0 ring-offset-1 shadow-2xl">
                  <p class="flex items-center justify-center h-full font-suez"><%= interest.questions.count %></p>
                </div>
                <div class="h-10 bg-opacity-0 flex flex-col justify-center grow-0 items-center">
                  <% if interest.name.length >=15 %>
                    <h5 class="grow-0 text-center text-xs font-bold tracking-tight text-slate-100 dark:text-white mb-0"><%= interest.name %></h5>
                  <% else %>
                    <h5 class="grow-0 text-center text-base font-bold tracking-tight text-slate-100 dark:text-white mb-0"><%= interest.name %></h5>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex flex-col px-2 place-items-center">
      <div class="pb-8">
        <div class="pb-10 flex justify-center pt-4">
          <%= simple_form_for(@quiz) do |f| %>
            <%= f.submit 'Start Quiz', class: "mx-2 text-slate-50 focus:outline-none font-suez text-purple-800 bg-gradient-to-r from-emerald-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% fixed bottom-24 left-16 right-16 hover:bg-purple-800 shadow-2xl focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-2xl  px-8 py-2.5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 border-b-4 border-b-emerald-400" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
