<div class="grid w-full mt-10 place-items-center">


<div class="flex items-center gap-4">
  <div>
    <h1>Welcome Lisa</h1>
  </div>
  <%= image_tag "avatar.jpg", class: "w-24 h-24 rounded-full" %>
</div>

<%= simple_form_for(@interest) do |f| %>
  <div class="flex gap-4 pt-10 ">
    <%= f.input :name, label: false %>
    <%= f.submit class: "focus:outline-none text-white h-10 bg-indigo-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-md px-4 py-2.5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" %>
  </div>
<% end %>

<h1 class="text-2xl font-bold pt-10 pb-2">Interests:</h1>
<div class="flex justify-content gap-4 w-2/3 overflow-x-auto">
  <% @interests.each do |interest| %>
    <%= link_to interest_path(interest) do %>
      <div class="bg-white border border-gray-200 w-48 shrink-0 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <img src="http://source.unsplash.com/featured/?<%= interest.name.strip %>&<%= rand(1000) %>/800x333", class="w-72 h-36" %>
      <div class="p-2">
      <h5 class="text-center text-xl font-bold tracking-tight text-gray-900 dark:text-white"><%= interest.name %></h5>
    <% end %>
</div>
  </div>
  <% end %>
</div>

 <%= simple_form_for(@quiz) do |f| %>
<%= f.submit class: "mt-12 focus:outline-none text-white bg-indigo-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-xl px-8 py-2.5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" %>
<% end %>

</div>
