<div>
  <h1 class="text-2xl font-bold"><%= @interest.name %></h1>
</div>

<ol>
  <% @questions.each do |question| %>
  <li><%= question.title %></li>
  <ul>
    <% question.options.shuffle.each do |option| %>
    <li><%= option.content %></li>
    <% end %>
  </ul><br>
  <li><%= question.content %></li><hr>
  <% end %>
</ol>

<%= link_to "Interest Index", interests_path %>
