<div class="h-screen flex flex-col justify-center w-screen bg-gradient-to-b from-stone-900 via-violet-900 to-violet-800 gradient color">
  <div class="container h-1/2 bg-slate-50 flex flex-col justify-center px-4 py-8 rounded-xl">
    <h2 class="pt-8">Log in</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "items-center flex justify-center text-xl mb-4 drop-shadow-md no-underline px-8 focus:outline-none text-slate-200 h-10 bg-gradient-to-r from-green-400 to-blue-500 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300  rounded-lg  text-white  dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
