<div class="grid h-screen w-screen bg-gradient-to-b from-stone-900 via-violet-900 to-violet-800 gradient color">
  <div class="place-items-center mx-4 flex flex-col">
    <div class="flex flex-col gap-4">
      <div class="flex pt-16 justify-center w-full">
        <span class="text-2xl font-bold text-slate-200">Question <%= @challenge.index_in_quiz %> / <%= @quiz.number_of_question %> </span>
      </div>
      <div class="w-full mb-2 bg-slate-200 rounded-full h-3 dark:bg-gray-700">
        <div class="bg-gradient-to-r from-green-400 to-blue-500 h-3 rounded-full" style="width: <%= @challenge.index_in_quiz * 100 / @quiz.number_of_question %>%"></div>
      </div>
      <div class="px-4 my-auto bg-slate-200 bg-opacity-10 rounded-lg mb-32">
      <div>
        <h4 class="pb-0 pt-4 font-suez text-center bg-gradient-to-r from-emerald-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% bg-clip-text text-2xl font-extrabold text-transparent"><%= @challenge.question.interest.name %></h4>
      </div>
        <h5 class="pt-4 text-slate-200 font-bold"><%= @challenge.question.title %></h5>
        <%= simple_form_for @challenge, wrapper: :default do |f| %>
          <ul class="w-86 mx-0 px-0 gap-8 flex flex-col mt-8">
            <% @challenge.question.options.each_with_index do |option, index| %>
              <% if @challenge.user_option.nil? %>
                <li>
                  <%= f.radio_button :user_option_id, option.id, class: "hidden peer", required: true, id: option.id %>
                  <label for="<%= option.id %>" class="py-2 w-full p-2 text-gray-800 bg-slate-200 bg-opacity-80 border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-indigo-600 peer-checked:bg-indigo-500 peer-checked:text-slate-200 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block items-center">
                      <div class="w-full font-semibold text-md items-center"><%= LETTERS[index] %> <%= option.content %></div>
                    </div>
                  </label>
                </li>
              <% else %>
                <% if @challenge.question.correct_option == option %>
                  <li>
                    <%= f.radio_button :user_option_id, option.id, class: "hidden peer", required: true, id: option.id %>
                    <label for="<%= option.id %>" class="py-2 w-full p-2 text-slate-200 bg-green-500 border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700  hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                      <div class="block items-center">
                        <div class="w-full font-semibold text-md items-center"><%= LETTERS[index] %> <%= option.content %></div>
                      </div>
                    </label>
                  </li>
                <% elsif option != @challenge.question.correct_option && option == @challenge.user_option %>
                  <%= f.radio_button :user_option_id, option.id, class: "hidden peer", required: true, id: option.id %>
                  <label for="<%= option.id %>" class="py-2 w-full p-2 text-slate-200 bg-red-500 border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block items-center">
                      <div class="w-full font-semibold text-md items-center"><%= LETTERS[index] %> <%= option.content %></div>
                    </div>
                  </label>
                </li>
              <% else %>
                <%= f.radio_button :user_option_id, option.id, class: "hidden peer", required: true, id: option.id %>
                <label for="<%= option.id %>" class="py-2 w-full p-2 text-gray-800 bg-slate-200 bg-opacity-80 border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                  <div class="block items-center">
                    <div class="w-full font-semibold text-md items-center"><%= LETTERS[index] %> <%= option.content %></div>
                  </div>
                </label>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <% if @next_question && @challenge.user_option %>
        <div class="mt-14 mb-8">
          <%= link_to 'Next question', quiz_challenge_path(@quiz, @next_question), class: "items-center text-xl no-underline font-bold px-8 py-3 focus:outline-none text-slate-200 h-10 bg-indigo-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-8 py-2.5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" %>
          <div class="flex flex-col gap-4">
            <div class="flex pt-4 justify-center w-full">
            </div>
          <% elsif @challenge.user_option %>
            <p>
              <%= link_to 'end quiz', quiz_path(@quiz), class:"items-center text-xl no-underline font-bold px-8 py-3 focus:outline-none text-slate-200 h-10 bg-indigo-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-8 py-2.5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" %>
            </p>
          <% else %>
            <div class="mb-3">
              <%= f.button :submit, "See Answer", class:"items-center text-xl no-underline font-bold px-8 py-3 focus:outline-none text-slate-200 h-10 bg-indigo-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-8 py-2.5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" %>
              <div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
