<p><%= @question.title %></p>
<p><%= @question.content %></p>
<%= simple_form_for [@quiz, @question], url: quiz_quizzes_question_path(@quiz) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <% @question.options.each do |option| %>
      <%= f.radio_button :user_option_id, option.id %>
      <%= f.label :user_option_id, option.content %><br>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
<% if @next_question %>
  <%= link_to 'next_question', quiz_quizzes_question_path(@quiz, @next_question)%>
<% else %>
  <p>
    "Should display the result of the Quiz when button is clicked. The path is random in the code. please change it :)!!"
    <%= link_to 'end quiz', quiz_quizzes_question_path(@quiz) %>
  </p>
<% end %>
</div>
</div>
