<div class="grid w-screen place-items-center">

  <div class="mt-10">
    <h5 class="pl-4">Interest:
    <% @question.interest.name %></h5>
    <h5 class="my-4 text-xl font-bold mx-8">Question:
      <%= @question.title %></h5>

    <form action="/save-option" method="PATCH">
      <div class="flex flex-col">
        <ul class="w-96 gap-8 flex flex-col">
          <% @question.options.each_with_index do |option, index| %>
            <li>
              <input
                type="radio"
                id="<%= option.id %>"
                name="hosting"
                value="<%= option.id %>"
                class="hidden peer"
                required>
              <label
                for="<%= option.id %>"
                class="
                  inline-flex
                  justify-between
                  w-full
                  p-2
                  text-gray-500
                  bg-white
                  border
                  border-gray-200
                  rounded-lg
                  cursor-pointer
                  dark:hover:text-gray-300
                  dark:border-gray-700
                  dark:peer-checked:text-blue-500
                  peer-checked:border-blue-600
                  peer-checked:text-blue-600
                  hover:text-gray-600
                  hover:bg-gray-100
                  dark:text-gray-400
                  dark:bg-gray-800
                  dark:hover:bg-gray-700
                ">
                <div class="block items-center">
                  <div class="ml-2 w-full py-2 text-sm font-semibold items-center"><%= LETTERS[index] %><%= option.content %></div>
                </div>
              </label>
            </li>
          <% end %>
        </ul>
      </div>

      <button type="submit">See Answer</button>
    </form>

    <% if @next_question %>
      <%= link_to "next_question", quiz_quizzes_question_path(@quiz, @next_question) %>
    <% else %>
      <p>
        "Should display the result of the Quiz when button is clicked. The path
        is random in the code. please change it :)!!"
        <%= link_to "end quiz", quiz_quizzes_question_path(@quiz) %>
      </p>
    <% end %>
  </div>

</div>
